body{
	background-image: url("file:///C:/Users/Md%20Sajid/Desktop/start%20up/cyberpunk_2080-wallpaper-1366x768.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

nav {
	background-image: url("file:///C:/Users/Md%20Sajid/Desktop/start%20up/far_cry_6_main_villain_2021_video_game-wallpaper-1366x768.jpg");
}	

img {
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}