body{
	background-image: url("cyberpunk.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

nav {
	background-image: url("farcry.jpg");
}	

img {
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}